body {
  background-color: #eeeeee;
}

.election-impact {

  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: white;

  font-family: sans-serif;
  font-size: 15px;

  &__searchbox {
    input {
      font-size: 15px;
      width: 100%;
      border: 1px dashed gray;
    }
  }

  &__result-list {

    &__item {
      padding: 20px;
      margin-top: 30px;
      border: 1px solid gray;

      &:hover {
        background-color: darken(white, 5%);
      }
    }
  }

  &__district-detail section {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid gray;

    .small {
      font-size: 12px;
      text-transform: uppercase;
      color: gray;
    }

    .big {
      color: red;
      font-size: 20px;
    }
  }

}
