@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

$white: white;
$black: #333333;
$red: #cc0000;

body {
  background-color: #eeeeee;
}

.election-impact {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  line-height: 2em;
  font-weight: 400;

  strong, h1, h2, h3 {
    font-weight: 900;
  }

  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  color: $black;
  background-color: $white;

  h1 {
    text-align: center;
    line-height: 1.2em;
    font-size: 3em;
  }

  &__searchbox {
    input {
      width: 100%;
      border: 1px solid gray;
    }
  }

  &__result-list {

    &__item {
      padding: 20px;
      margin-top: 30px;
      border: 1px solid gray;

      &:hover {
        background-color: darken(white, 5%);
      }
    }
  }

  &__district-detail section {
    padding: 20px;
    margin-top: 30px;
    border: 1px solid gray;

    .small {
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      color: gray;
    }

    .big {
      color: $red;
      font-size: 2em;
      text-align: center;
    }
  }

}
